// src/styles/_variables.scss
$primary: #3333ff;
$secondary: #33c1ff;
$success: #33ff57;
$danger: #ff3333;
$warning: #ffcc33;
$info: #33ffcc;


//fonts
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;
$font-family-serif: 'Roboto Slab', serif;
$display-font-weight: 300;
